<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.my-little-apps.dnsmasq</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/my-little-apps/dnsmasq</string>
        <string>--keep-in-foreground</string>
        <string>--no-resolv</string>
        <string>--no-hosts</string>
        <string>--bind-interfaces</string>
        <string>--listen-address=127.0.0.1</string>
        <string>--address=/__HOSTNAME__.local/127.0.0.1</string>
        <string>--pid-file=/usr/local/var/run/my-little-apps/dnsmasq.pid</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/my-little-apps/dnsmasq.err.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/my-little-apps/dnsmasq.out.log</string>
</dict>
</plist>
